[submodule "pokemon-blip-captions"]
	path = pokemon-blip-captions
	url = https://huggingface.co/datasets/lambdalabs/pokemon-blip-captions
[submodule "twitterdownloader"]
	path = twitterdownloader
	url = https://github.com/provos/twitterdownloader.git
